@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.azureDevOpsKanbanBoard {
  .container {
    // max-width: 700px;
    margin: 0px auto;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  // .row {
  //   @include ms-Grid-row;
  //   @include ms-fontColor-white;
  //   background-color: $ms-color-themeDark;
  //   padding: 20px;
  // }

  // .column {
  //   @include ms-Grid-col;
  //   @include ms-lg10;
  //   @include ms-xl8;
  //   @include ms-xlPush2;
  //   @include ms-lgPush1;
  // }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  // Begin Trello board custom styles
  .boardContainer {
    background-color: white;
    padding: 0px;
    height: auto;
  }

  .laneCustomHeader {
    background-color: white;
    border-bottom: 2px solid #C8C8C8;
    margin: -10px -10px 0px -10px;
    padding: 5px;
    display: 'flex';
  }

  .customLane {
    background-color: #f4f4f4;
    border-radius: 0px;
    margin: 5px;
    position: relative;
    padding: 10px;
    display: inline-flex;
    display: webkit-inline-box;
    display: -webkint-inline-flex;
    display: ms-inline-flexbox;
    height: auto;
    max-height: 90%;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction:column;
  }


// Card Styling
  .customCardStyle {
    border-radius: 0px;
    padding: 10px;
    background-color: white;

    &:hover {
      background-color: #f8f8f8;
    }
  }

  .epicCard {
    @extend .customCardStyle;
    border: 1px solid #ff8c00;
    border-left: 4px solid #ff8c00;
  }

  .featureCard {
    @extend .customCardStyle;
    border: 1px solid #004578;
    border-left: 4px solid #004578;
  }

  .userStoryCard {
    @extend .customCardStyle;
    border: 1px solid #2b88d8;
    border-left: 4px solid #2b88d8;
  }

  .cardDetail {
    display: flex;
    justify-content: space-between;
  }

  .cardDescription {
    margin-bottom: 20px;

  }

  // Tag styling

  .tagStyle {
    padding: 5px 10px;
  }

  .inventoryArea {
    @extend .tagStyle;
    background-color: #286DA8;
    @include ms-fontColor-white;
  }

  .ppmArea {
    @extend .tagStyle;
    background-color: #CD5360;
    @include ms-fontColor-white;
  }

  .qualityArea {
    @extend .tagStyle;
    background-color: #B37d4e;
    @include ms-fontColor-white;
  }

  .shipmentArea {
    @extend .tagStyle;
    background-color: #438496;
    @include ms-fontColor-white;
  }

  .unkownArea {
    @extend .tagStyle;
    background-color: white;
  }

  .dateStyle {
    padding-top: 10px;
  }
}